<%- include('layouts/header') -%>

<div id="accionLogin" class="row">
    <h3 class="col-sm-12">Iniciar sesión</h3>
    <form action="/api/user/login" method="POST">
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" name="username" id="emailPerson"
                    placeholder="Ingresa tu nombre!" required>
                <input class="form-control" type="password" name="password" id="passwordPerson"
                    placeholder="Ingresa tu password!" required>
            </div>
            <div class="col">
                <input class="btn btn-primary col-sm-4" type="submit" value="Enviar">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/signup">Registrarse</a>
            </div>
        </div>
    </form>
</div>

<%- include('layouts/footer') -%>